[workspace]
name = "analolzer"
members = [
    "mdr",
]

[profile.dev]
opt-level = 1
debug = true
overflow-checks = true
debug-assertions = true

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
panic = "abort"
